<div class='large-container center-block'>
    <h1><%=@article.titulo%></h1>
    <div>
        <p>
            Articulo escrito por: <strong><%= @article.user.email %></strong>
        </p>
    </div>
    <div>
        <%=@article.contenido%>
    </div>

    <div class='margin.top'>
        <p class='label'> tags</p>
        <% @article.categories.each do |category| %>
            <span class='badge badge-pill padding' style='background-color: <%=category.color%>'>
                <%= link_to category.title, category, class: 'text-white'%>
            </span>
        <% end %>
    </div>

    <div>
        <%= link_to  "Eliminar Articulo", @article, method: :delete %>
</div>
</div>